html {
    background-image: url(./assets/DownloadBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
}

body {
    margin: 0px;
}

.nav-bar {
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    -webkit-box-shadow: 0px 23px 49px -13px rgba(0,0,0,0.87); 
    -moz-box-shadow: 0px 23px 49px -13px rgba(0,0,0,0.87);
    box-shadow: 0px 23px 49px -13px rgba(0,0,0,0.87);
}

.nav-left {
    display: flex;
    justify-content: space-around;
    margin-right: 600px;
}

#Right-link {
    border: 1px solid white;
    transition: color 0.5s, background-color 0.5s;
}

#Right-link:hover {
    background-color: white;
    color: black;
}

.nav-link {
    text-decoration: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer;
    transition: color 0.2s;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.575);
}

.div-flex {
    margin-top: 100px;
    margin-right: 500px;
    margin-left: 500px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(30px);
    border: 1px solid white;
    border-radius: 20px;
    -webkit-box-shadow: 0px 51px 92px 14px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 51px 92px 14px rgba(0,0,0,0.75);
    box-shadow: 0px 51px 92px 14px rgba(0,0,0,0.75);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img {
    width: 200px;
}

h2 {
    margin-top: 20px;
    text-decoration: underline;
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.download-btn {
    background-color: transparent;
    color: white;
    border: 1px solid red;
    width: 200px;
    height: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 100px;
    transition: background-color 0.5s, color 0.5s, transform 0.2s;
    cursor: pointer;
}

.download-btn:hover {
    background-color: red;
    color: black;
}

.download-btn:active {
    transform: scale(0.8);
}

